@charset "UTF-8";
/*
palheta de cores:
azul -#001021
vermelho - #800E13
cinza - #C1A5A9
amarelo - #F2C14E
turquesa - #1DD3B0
*/

*{
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #02070c;
}

h1 {
    text-align: center;
    padding: 10px;
    font-variant: small-caps;
    font-size: 2em;
}

#logo {
    color: #1DD3B0
}

#validations {
    width: 200px;
    text-align: center;
    border-radius: 10px;
    margin: 5px;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container-words {
    display: grid;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    background-color: #001021;
    grid-template: repeat(5,1fr) / repeat(5, 1fr);
    gap: 7px;
    padding: 15px;
}

.characterWord {
    background-color: #C1A5A9;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
}

label {
    display: flex;
    flex-wrap: nowrap;
}
#input-word {
    margin: 15px;
}

#word1 {
    color: #001021;
    border-radius: 10px;
    width: 250px;
}

#word2 {
    color: #001021;
    margin: 10px 0px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: color, background-color;
    transition-property: color, background-color;
}

#word2:hover, #word2:focus, #word2:active {
    -webkit-animation-name: hvr-back-pulse;
    animation-name: hvr-back-pulse;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    background-color: #1DD3B0;
    background-color: #1DD3B0;
    color: #001021;
  }

@-webkit-keyframes word2 {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }
  @keyframes word2 {
    50% {
      background-color: rgba(32, 152, 209, 0.75);
    }
  }

.correct {
  background-color: #1DD3B0;
}

.in-order {
  background-color: #F2C14E;
}

a{
  color: grey;
  font-size: 0.8em;
  text-decoration: none;
}
